[submodule "libzmq"]
	path = deps/libzmq
	url = https://github.com/zeromq/libzmq
[submodule "czmq"]
	path = deps/czmq
	url = https://github.com/zeromq/czmq
[submodule "pbc"]
	path = deps/pbc
	url = https://github.com/cloudwu/pbc
